.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
  min-width: 0;
}

.input-wrapper span {
  font-size: var(--font-sm);
  color: var(--color-text-light);
}

.input {
  width: 100%;
  min-width: 0;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: var(--space-3) var(--space-4);
  font-size: var(--font-sm);
  background: var(--color-surface);
  color: var(--color-text);
}